.weather-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.weather-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.weather-header h2 {
  margin-right: 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default: 2 columns */
  gap: 20px; /* Space between items */
  margin-top: 20px;
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-item i {
  font-size: 40px;
  color: #4caf50;
  margin-bottom: 10px;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.weather-item p {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.weather-card p {
  font-size: 20px;
  margin: 8px 0;
}

/* Add responsive design for mobile devices */
@media screen and (max-width: 480px) {
  .weather-details {
    grid-template-columns: 1fr; 
  }

  .weather-item {
    margin-bottom: 10px; 
  }

  .weather-icon {
    width: 30px; 
    height: 30px;
  }

  .weather-item p {
    font-size: 12px; 
  }
}
